<h1>Welcome</h1>

<%= link_to 'Sign Up', new_user_path %>
<% if logged_in? %>
<%= link_to "Sign Out", '/logout', method: :delete %>
<%= link_to "Create listing", new_user_listing_path(@current_user) %>
<% else %>
  <%= link_to 'Sign In', '/login'%>
<% end %>
<%= link_to 'View listings', '/view_all_listings' %>
